header
    #menu.menu
        span
    .logo
        a(href="/")
            img(src="logo.png", alt="logo")
    .lang
        ul
            li
                a(href="#").active
                    | Ру
            li
                a(href="#")
                    | Uz
    .mobile-menu
        .mobile-menu-wrap
            .mobile-menu-left
                nav
                    ul
                        li.hasSubmenu.submenu-toggle
                            a(href="javascript:void(0);")
                                | Продукция
                                span.menu-toggle-icon
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99997 15.7002C9.64153 15.7002 9.28313 15.5634 9.00985 15.2902L0.410313 6.6906C-0.13673 6.14356 -0.13673 5.25662 0.410313 4.7098C0.957135 4.16298 1.84389 4.16298 2.39098 4.7098L9.99997 12.3192L17.609 4.71007C18.156 4.16324 19.0427 4.16324 19.5895 4.71007C20.1368 5.25689 20.1368 6.14382 19.5895 6.69087L10.9901 15.2905C10.7167 15.5637 10.3583 15.7002 9.99997 15.7002Z"/></svg>
                        ul.submenu
                            - var scr = ['images/content/item-1.png', 'images/content/item-5.png', 'images/content/item-6.png', 'images/content/item-7.png', 'images/content/item-8.png', 'images/content/item-9.png', 'images/content/item-10.png', 'images/content/item-11.png','images/content/item-12.png']
                            each val,i in ['Стиральные машины', 'Газовые плиты', 'Электрические печи', 'Мониторы', 'Кондиционеры', 'Вытяжки', 'Посудомоечные машины', 'Морозильники', 'Витринные холодильники']
                                li
                                    a(href="#" data-src=(`${scr[i]}`))
                                        | #{val}
                        li
                            a(href=`/news.html`)
                                | Новости
                        li
                            a(href=`#`)
                                | Поддержка
                        li
                            a(href=`#`)
                                | Интернет магазин
                        li
                            a(href=`/services.html`)
                                | Сервисные центры
                        li
                            a(href=`/contact.html`)
                                | Контакты
                .mobile-menu-social
                    h2
                        | Мы в соц.сетях
                    ul.social
                        li
                            a(href="#" target="_blank" title="Telegram").tg
                        li
                            a(href="#" target="_blank" title="Facebook").fb
                        li
                            a(href="#" target="_blank" title="instagram").instagram
            .mobile-menu-right
                .mobile-menu-img#changeImg(data-img='images/content/default.png')
                    img( src="images/content/default.png")