extends pug/base

append vars
    - title = 'Новости'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#000'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page'];
block content
    include pages/header
    .content
        .container
            .navigation
                .navigation-title
                    h1 Новости
                <ul class="crumbs">
                    <li>
                        <a href="/" class="nav-home" title="На Главную"></a>
                    </li>
                    <li class="active">
                        <a href="#" title="Новости">Новости</a>
                    </li>
                </ul>
            .default-section
                img(src="images/content/news.jpg", alt="news" style="margin-right: 15px; float: left;")
                p
                    | Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.  этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                h1
                    | Зоголовок H1
                p
                    | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                h2
                    | Зоголовок H2
                p
                    | Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. 
                h3
                    | Зоголовок H3
                p
                    | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                h4
                    | Зоголовок H4
                p
                    | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                h5
                    | Зоголовок H5
                p
                    | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                ul
                    li
                        | Оформление маркировки текста
                    li
                        | Оформление маркировки текста
                    li
                        | Оформление маркировки текста
                    li
                        | Оформление маркировки текста
                b
                    | Пример оформления жирности шрифта на сайте
                br
                i
                    | Пример оформления курсива шрифта на сайте
                br
                u
                    | Пример оформления подчеркивания шрифта на сайте
                br
                a(href="#")
                    | Пример оформления ссылки на сайте
                table
                    tr
                        th
                            | Пример оформления заголовка в таблице
                        th
                            | Пример оформления заголовка в таблице
                        th
                            | Пример оформления заголовка в таблице
                    tr
                        td
                            | Пример оформления таблицы
                        td
                            | Пример оформления таблицы
                        td
                            | Пример оформления таблицы
                    tr
                        td
                            | Пример оформления таблицы
                        td
                            | Пример оформления таблицы
                        td
                            | Пример оформления таблицы
                    tr
                        td
                            | Пример оформления таблицы
                        td
                            | Пример оформления таблицы
                        td
                            | Пример оформления таблицы
                    tr
                        td
                            | Пример оформления таблицы
                        td
                            | Пример оформления таблицы
                        td
                            | Пример оформления таблицы
    include pages/footer