extends pug/base

append vars
    - title = 'Новости'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#000'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page'];
block content
    include pages/header
    .content
        .container
            .navigation
                .navigation-title
                    h1 Новости
                <ul class="crumbs">
                    <li>
                        <a href="/" class="nav-home" title="На Главную"></a>
                    </li>
                    <li class="active">
                        <a href="#" title="Новости">Новости</a>
                    </li>
                </ul>
            .inner-news
                .news-items
                    - for ( var i = 0; i < 9; i++ ) {
                        a(href="#" title="Примерный зоголовок на две или болеe строки").news-item
                            span.news-item_img
                                img(src="images/content/news.jpg" alt="news")
                            h2
                                | Примерный зоголовок на две или болеe строки
                            p
                                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut dolor delectus veritatis iusto, iure quos voluptates quia, quas consequuntur tempore culpa. Voluptates, omnis deserunt. Voluptatum ullam hic error aperiam nobis.
                            .news-item-date
                                span.date
                                    | 08.07.2019
                    - }
                <ul class="pagination">
                    <li>
                        <a href="#">Предыдущая</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li class="active">
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li class="dots">
                        <a href="">....</a>
                    </li>
                    <li>
                        <a href="#">10</a>
                    </li>
                    <li>
                        <a href="">Следующая</a>
                    </li>
                </ul>
    include pages/footer