// stylelint-disable scss/dollar-variable-empty-line-before
// COLORS
$darkblue: #212e4e;
$white: #fff;
$black: #222;
$lightblue: #4c577a;
$grey: #a9a9a9;
$lightgrey: #222;
$newsbg: #464545;
$pink: #ce181e;
$speclist: #f7f7f7;
// FONTS
$roboto: 'Roboto',
sans-serif;
$maril: 'Merel',
sans-serif;
$stock: StockmannSans,
Helvetica,
Arial,
sans-serif;