// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "animate/animate";
@import "vendor/owl.carousel";
@import "vendor/bootstrap-grid";
@import "vendor/jsmaps";
@import "icon/icons";
@import "pages/header";
@import "pages/mobile-menu";
@import "pages/footer";
@import "pages/products";
@import "pages/contact";
.slider {
    position: relative;
    @include mobile {
        padding-top: 60px;
    }
    .container {
        max-width: calc(100% - 200px);
        @include mobile {
            max-width: 100%;
        }
    }
    &-img {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &-text {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        @include mobile {
            padding-bottom: 20px;
        }
        h1,
        h3,
        h2,
        h4,
        h5 {
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 40px;
            line-height: 1;
            color: $lightgrey;
            @include tablet {
                font-size: 24px;
            }
            @include mobile {
                font-size: 18px;
            }
        }
        p {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 28px;
            line-height: 1;
            color: $lightgrey;
            @include tablet {
                font-size: 20px;
            }
            @include mobile {
                font-size: 16px;
            }
        }
        &-wrap {
            width: 500px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.5);
            opacity: 0;
            transition: opacity 1.5s cubic-bezier(.35, 0, 0, 1.01);
        }
    }
    &-name {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        z-index: 3;
        @include mobile {
            display: none;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                position: relative;
                display: inline-block;
                margin-right: 20px;
                width: 50px;
                height: 5px;
                font-weight: 600;
                color: $lightgrey;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color: $white;
                    transition: all 0.3s ease-in-out;
                    .slide-progress {
                        background: rgba(76, 87, 122, 0.3);
                        transition: all 0.3s ease-in-out;
                        i {
                            background: $white;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
                @include tablet {
                    margin-right: 30px;
                    font-size: 12px;
                }
                .slide-progress {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    overflow: hidden;
                    background: rgba(51, 51, 51, 0.3);
                    transition: all 0.3s ease-in-out;
                    i {
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        max-width: 100%;
                        height: 100%;
                        background: $white;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
    .active {
        .slider-text-wrap {
            opacity: 1;
            animation: fadeIn 0.5s linear both;
            transition: opacity 1.5s cubic-bezier(.35, 0, 0, 1.01);
        }
    }
    .owl-nav {
        .owl-prev,
        .owl-next {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background: #000;
            transition: all 0.3s ease-in-out;
            svg {
                width: 25px;
                height: 25px;
                path {
                    fill: #fff;
                }
            }
            &:hover {
                background: #fff;
                transition: all 0.3s ease-in-out;
                path {
                    fill: #000;
                }
            }
        }
    }
}

.product-slider {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &-items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 20px;
        @include mobile {
            padding: 0 20px;
        }
    }
    &-item {
        display: inline-block;
        width: 310px;
        transform: translate3d(0, 0, 0);
        @include mobile {
            width: 100%;
        }
        a {
            text-decoration: none;
        }
        .product-category {
            margin-bottom: 10px;
        }
        &:hover {
            .product-slider-img::after {
                height: 100%;
                transition: height 1s cubic-bezier(.35, 0, 0, 1.01);
            }
            .product-category {
                transition-delay: .05s;
                transform: translate3d(0, 10px, 0);
            }
            .product-name {
                transition-delay: 25ms;
                transform: translate3d(0, 10px, 0);
            }
            @include tablet {
                .product-slider-img::after {
                    height: 30%;
                }
                .product-category {
                    transform: translate3d(0, 0, 0);
                }
                .product-name {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
    &-img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 310px;
        margin-bottom: 20px;
        overflow: hidden;
        img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-width: calc(100% - 50px);
            max-height: calc(100% - 50px);
            width: unset!important;
            height: auto;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 30%;
            background: $grey;
            z-index: -1;
            transition: height 1s cubic-bezier(.35, 0, 0, 1.01);
        }
    }
    .owl-nav {
        width: 90px;
        top: -83px;
        right: 20px;
        height: 40px;
        transform: translate(0);
        .owl-prev,
        .owl-next {
            width: 40px;
            height: 40px;
            background: $lightgrey;
            border: 1px solid $lightgrey;
            transition: all 0.3s ease-in-out;
            svg {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                path {
                    fill: #fff;
                }
            }
            &:hover {
                background: #fff;
                path {
                    fill: $lightgrey;
                }
            }
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }
}

.product {
    &-category {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: $lightgrey;
        transform: translateZ(0);
        transition-delay: 0s;
        transition: transform 1.5s cubic-bezier(.35, 0, 0, 1.01);
    }
    &-name {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: $lightgrey;
        margin-bottom: 10px;
        transform: translateZ(0);
        transition: transform 1.5s cubic-bezier(.35, 0, 0, 1.01);
    }
    .page-title {
        padding: 0 15px;
    }
}

.news {
    position: relative;
    padding: 50px 0;
    background: $newsbg;
    &-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        @include mobile {
            grid-template-columns: 1fr;
        }
    }
    &-item {
        position: relative;
        display: block;
        text-decoration: none;
        color: #fff;
        &::before {
            content: "";
            display: block;
            height: 342px;
            background-color: #868686;
        }
        @include mobile {
            &::before {
                height: 224px;
            }
        }
        &_img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: 342px;
            overflow: hidden;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.3);
                content: '';
                transition: transform 0.6s;
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -110%, 0);
            }
            @include mobile {
                max-height: 224px;
                &::after {
                    display: none;
                }
            }
        }
        &:hover {
            .news-item_img::after {
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0);
            }
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
            margin: 0 auto;
        }
        h2 {
            margin: 20px auto 20px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: $white;
            min-height: 44px;
            text-transform: uppercase;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            transition: all 0.3s ease-in-out;
            @include tablet {
                font-size: 14px;
            }
        }
        p {
            margin-top: 0;
            margin-bottom: 20px;
            font-family: $roboto;
            font-size: 16px;
            line-height: 22px;
            color: $lightgrey;
            min-height: 85px;
            max-height: 85px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
        .date {
            color: $white;
            &::after {
                background: url('../images/icons/date-2.svg') no-repeat center;
            }
        }
        &-date {
            display: block;
        }
    }
    .page-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        h2 {
            color: #fff;
        }
        a {
            position: relative;
            display: inline-block;
            margin-right: 100px;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background: $white;
                transition: all 0.3s ease-in-out;
            }
            @include mobile {
                position: absolute;
                display: block;
                width: 100%;
                bottom: 20px;
                left: 0;
                margin: 0;
                text-align: center;
                text-decoration: underline;
                &::after {
                    display: none;
                }
            }
            &:hover {
                &::after {
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
    .owl-nav {
        width: 90px;
        top: -65px;
        right: 0;
        height: 40px;
        transform: translate(0);
        .owl-prev,
        .owl-next {
            width: 40px;
            height: 40px;
            border: 1px solid #fff;
            transition: all 0.3s ease-in-out;
            svg {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                path {
                    fill: #fff;
                }
            }
            @include hover {
                &:hover {
                    background: #fff;
                    border-color: #fff;
                    path {
                        fill: $lightgrey;
                    }
                }
            }
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }
}

.services {
    &-maps {
        margin-top: 50px;
        width: 100%;
        height: 500px;
        border-radius: 5px;
        overflow: hidden;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.jsmaps {
    width: 80%;
    right: 0;
    margin: auto;
    &-wrapper {
        .jsmaps-text {
            padding: 20px;
            padding-right: 30%;
            &::after {
                content: "";
                display: table;
                clear: both;
            }
            @media screen and (max-width: 1023px) {
                padding-bottom: 80px;
                margin-right: 20px;
            }
        }
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
    &-btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        @media screen and (max-width: 1023px) {
            right: 0;
            left: 0;
            text-align: center;
        }
    }
    &-text {
        border-radius: 5px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
        h1 {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 30px;
            line-height: 1.2;
            color: $lightgrey;
        }
    }
    svg {
        width: 100%;
        height: 100%;
        & * {
            transition: all 1s ease-in-out;
        }
    }
}

.inner-news {
    .news-item_img {
        max-height: 224px;
    }
    .news-item {
        &::before {
            height: 224px;
        }
    }
    .news-item h2 {
        color: $black;
    }
    .news-items {
        grid-gap: 30px;
    }
    .news-item .date {
        color: $black;
    }
    .date::after {
        top: 2px;
        background: url(../images/icons/date.svg) no-repeat center;
    }
}

.default-section {
    font-family: $roboto;
    line-height: 1.3;
    img {
        max-width: 100%;
        height: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 20px 0;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 26px;
    }
    h5 {
        font-size: 24px;
    }
    ul {
        margin: 20px 0;
        padding-left: 20px;
        li {
            list-style-type: disc;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    a {
        display: inline-block;
        color: $darkblue;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    table {
        display: block;
        border-spacing: 1px;
        margin: 20px 0;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        th {
            font-weight: bold;
            font-size: 16px;
            line-height: 1.2;
            text-align: left;
            color: $black;
        }
        tr,
        th,
        td {
            width: 33.3%;
            border: 1px solid $black;
            padding: 15px;
        }
        td {
            font-weight: normal;
            font-size: 16px;
            color: $black;
        }
    }
    @include mobile {
        img {
            width: 100%;
            margin-bottom: 15px;
        }
        .date {
            display: block;
            margin-bottom: 15px;
            &::after {
                top: -2px;
            }
        }
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 22px;
        }
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 18px;
        }
        h5 {
            font-size: 16px;
        }
        table {
            margin: 25px 0;
            tr,
            td,
            th {
                font-size: 12px;
            }
        }
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2010;
    background: #fff;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    &-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
    }
    &.loaded {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    svg {
        width: 100%;
        height: 100%;
        path {
            opacity: 0;
            animation: fadeIn 1.5s linear both;
        }
        @for $i from 1 through 7 {
            .id-#{$i} {
                animation-delay: #{$i/2}s;
            }
        }
    }
}